<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
   
  IgnorableNamespaces="uap mp">

  <Identity
    Name="636c8ba6-a272-4be8-ba92-b12de3a342b1"
    Publisher="CN=EngSoon"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="636c8ba6-a272-4be8-ba92-b12de3a342b1" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>WorkShop10</DisplayName>
    <PublisherDisplayName>EngSoon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="WorkShop10.App">
      <uap:VisualElements
        DisplayName="WorkShop10"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="WorkShop10"
        BackgroundColor="#464646">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

   
      
    </Application>
  </Applications>
  
  <!--<Extensions>
    <Extension Category="windows.publisherCacheFolders">
      <PublisherCacheFolders>
        <Folder Name="SharedFolder" />
      </PublisherCacheFolders>
    </Extension>
  </Extensions>-->
  
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>